name: Waka Readme data update

on:
  # for manual workflow trigger
  workflow_dispatch:
  schedule:
    # Runs every 3 hours
    - cron: "0 */3 * * *"
    # Runs every 5 min
    # - cron: "*/5 * * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      # - uses: athul/waka-readme@master # this action name
      #   with:
      #     WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
      #     LANG_COUNT: 10
      #     SHOW_TOTAL: true
      #     TIME_RANGE: last_30_days
      - uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          UPDATED_DATE_FORMAT: "%H:%M:%S %d.%m.%Y"
          SHOW_LINES_OF_CODE: "True"
          SHOW_TIMEZONE: "False"
          SHOW_PROJECTS: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_LOC_CHART: "False"
          DEBUG_LOGGING: "False"
